.container{
    width: 800px;

    box-shadow: 4px 20px 41px -20px rgba(0,0,0,0.45);

    border-radius: 24px 24px 24px 24px;

    /* border: 0px solid #000000; */
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.inner div h1{
    font-size: 30px;
    font-weight: 500;
}

.inner>div:nth-child(2){
    cursor: pointer;
    margin-left: 20px;
}

.inner>div:nth-child(3){
    cursor: pointer;
    margin-left: 20px;
}

.input{
    font-size: 50px;
}