@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.form{
  font-family: 'Montserrat', sans-serif;
  font-family: 20px;
}

.container{
  margin: 100px 0;
}

.bottom{
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moveAll{
  background-color: #2581eb; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  border-radius: 50px;
  box-shadow: 4px 20px 41px -20px rgba(0,0,0,0.45);
}

.moveAll:focus{
  outline: none;
  border: none;

}


.moveAll:hover{
  background-color: #4192ee;
  box-shadow: 4px 20px 41px -20px rgba(0,0,0,0.0);
}

.moveTo{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px
}
